@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html {
    font-family: "Poppins", serif;
    --color_181b1e: #181b1e;
    --color_2a2f34: #2a2f34;
    --color_212529: #212529;
    --color_1791ba: #1791ba;
    --color_dee2e6: #dee2e6;
    --color_darkgreen: darkgreen;
    --color_1fa620: #1fa620;
    --color_darkred: darkred;
    --color_495057: #495057;
    --color_adb5bd: #adb5bd;
    --color_343a40: #343a40;
    --color_42484f: #42484f;
    --color_ced4da: #ced4da;
    --color_65caec: #65caec;
    --color_4dc3ff: #4dc3ff;
    --color_f8f9fa: #f8f9fa;
    --color_8f979e: #8f979e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--color_181b1e);
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/*helper classes*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}